@font-face {
  font-family: flexslider-icon;
  src: url(../fonts/flexslider-icon.eot);
  src: url(../fonts/flexslider-icon.eot?#iefix) format('embedded-opentype'), url(../fonts/flexslider-icon.woff) format('woff'), url(../fonts/flexslider-icon.ttf) format('truetype'), url(../fonts/flexslider-icon.svg#flexslider-icon) format('svg');
  font-weight: 400;
  font-style: normal
}

.flex-container a:hover {
  outline: 0
}

.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease
}

@-moz-document url-prefix() {
  .loading .flex-viewport {
    max-height: none
  }
}

.carousel li {
  margin-right: 5px
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, .8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, .3);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.flex-direction-nav a:before {
  font-family: flexslider-icon;
  font-size: 26px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, .8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, .3)
}

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center
}

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1
}